# Flask
# ----------------------------------------------------------------------------
Flask==2.3.3
Flask-Bcrypt==1.0.1

# MySQL connector
# ----------------------------------------------------------------------------
PyMySQL==1.1.0