<hr class="my-4">
<h4 class="mb-3">Fórmula Leucocitaria.</h4>
<form class="needs-validation" action="/leucocyte_form/create" method="POST">
    <div class="row justify-content-between align-items-end">

        <div class="col-md-2">
            <label for="w_blood_cells" class="form-label">Glóbulos Blancos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="w_blood_cells" placeholder="" required>
                <span class="input-group-text">mm3</span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="neutrophils" class="form-label">Neutrófilos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="neutrophils" placeholder="" required>
                <span class="input-group-text">%</span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="lymphocytes" class="form-label">Linfocitos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="lymphocytes" placeholder="" required>
                <span class="input-group-text">%</span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="monocytes" class="form-label">Monocitos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="monocytes" placeholder="" required>
                <span class="input-group-text">%</span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="eosinophils" class="form-label">Eosonófilos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="eosinophils" placeholder="" required>
                <span class="input-group-text">%</span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="basophils" class="form-label">Basófilos</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basophils" placeholder="" required>
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
</form>